html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.layout {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 0.05fr auto 0.05fr;
  grid-template-areas: "nav"
    "body"
    "footer";
}

.nav-container {
  background-color: #212121 !important;
  width: 100%;
  grid-area: nav;
  display: grid;
  grid-template-columns: 0.15fr 0.15fr auto 0.15fr;
  grid-template-areas: "brand menu . social";
  .navbar-brand {
    grid-area: brand;
    font-family: monospace;
    .brand {
      text-decoration: none;
      color: #4CAF50;
    }
  }
  .navbar-menu {
    grid-area: menu;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .navbar-icon {
      text-decoration: none;
      color: white;
      font-size: 1.5em;
    }
  }
  .navbar-social {
    grid-area: social;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
  }
  .navbar-menu,.navbar-social {
    .navbar-item {
      text-decoration: none;
      color: #EFEFEF;
      margin: 0 0.5em 0 0.5em;
    }
  }
}

.body-content {
  grid-area: body;
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-areas: ". content .";
  .section {
    grid-area: content;
  }
}

.content {
  margin-top: 0.5em;
  .page-title {
    box-shadow: 0.5em 0 0 #1E88E5, -0.5em 0 0 #1E88E5;
    font-size: 3em;
    background-color: #1E88E5;
    color: white;
    padding: 0.5em;
    text-align: center;
    margin-top: 0.5em;
  }
  .blogroll {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .article {
      width: 45%;
      border: 1px solid #D5D5D5;
      background-color: #F5F5F5;
      border-radius: 0.25em;
      padding: 1em;
      font-size: 1em;
      font-weight: 400;
      color: #4A4A4A;
      .title {
        font-size: 2em;
        text-decoration: none;
      }
      .date {
        font-size: 1.25em;
      }
      .title, .button {
        color: #1E88E5;
      }
      .button {
        padding: 0.75em;
        border: 1px solid #d4d4d4;
        border-radius: 0.25em;
        background-color: #FFF;
      }
    }
  }
}

footer {
  grid-area: footer;
  background-color: #212121;
  color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}